body {

	font-size: 16px;
	padding: 3%;
}

.board {
	position: relative;
	max-width: 50vw;
	min-height: 50vh;
	border: 2px solid #eaeaea;
	border-radius: 2%;
	padding: 1em;
	margin: 0 auto;
	background-color: #d1f2eb;
}

.player {

	width: 120px;
	height: 100px;
	position: absolute;
	right: calc(50% - 60px);
	top: 45%;
	background: url('../images/hangman.png') 3% 50%;
	background-repeat: no-repeat;
}

.player.one {

	background: url('../images/hangman.png') 18% 50%;
	background-repeat: no-repeat;	
}

.player.two {

	background: url('../images/hangman.png') 32% 50%;
	background-repeat: no-repeat;
}

.player.three {

	background: url('../images/hangman.png') 46% 50%;
	background-repeat: no-repeat;
}

.player.four {

	background: url('../images/hangman.png') 60% 50%;
	background-repeat: no-repeat;
}

.player.five {

	background: url('../images/hangman.png') 75% 50%;
	background-repeat: no-repeat;
}

.player.six {

	background: url('../images/hangman.png') 90% 50%;
	background-repeat: no-repeat;
}

.player.seven {

	background: url('../images/hangman.png') 105% 50%;
	background-repeat: no-repeat;
}

.controls {

	position: absolute;
	bottom: 0;
	padding: 5%;
}

.controls input {

	font-size: 2.5em;
        width: 100%;
}

.controls button {

	padding: 2em 3em;
	color: white;
	border-radius: 4%;
	margin-top: 1em;

}

#send {

	background-color: #337ab7;
	border-color: #2e6da4;	
}

#reset {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.title {

	text-align: center;
}

.results {

	padding: 5%;
	text-align: center;
	border-radius: 3%;
	font-size: 1.5em;
	color: #cc0000;
	
}

.won {

	background-color: #007700;
}

.won span {

	font-weight: bold;
	color: #ffffff;
}


.lost {

	background-color: #770000;
}

.lost span {

	font-weight: bold;
	color: #ffffff;
}

.word {

	font-size: 3em;
	text-align: center;
	margin-bottom: 5em;
}
